.jeans{
    padding-top: 40px;
    background-color: #ededed;
    .container{
      margin-left: 50px;
    }
  .jeansimages{
    display: flex;
    img{
        padding-left: 30px;
        width: 290px;
        object-fit: cover;
    }
  }
  .jeansfit{
    padding-top: 30px;
    text-align: center;
    margin: 0 auto;
    max-width: 450px;
    a{
        text-decoration: none;
        color: #476ac7;
        font-weight: 640;
        span{
            font-weight: 650;
            font-size: 2.5rem;
        }
    }
    button{
        background-color: #ededed;
        color: #476ac7;
        border: 1px solid #476ac7;
    }
  }
}